@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: iranSans;
  src: url(./assets/font/IRANSANSWEB.TTF);
}

* {
  font-family: iranSans;
}

body {
  height: 100vh;
}

#root {
  height: 100%;
  background-color: #f7f8fa;
}
